body {
  font-family: Arial, sans-serif;  /* Tipo de letra del cuerpo del sitio */
  margin: 0;                       /* Quita el espacio exterior del cuerpo */
  padding: 0;                     /* Quita el espacio interior del cuerpo */
  line-height: 1.6;               /* Altura de línea para que el texto no esté tan pegado */
}

main {
  padding: 20px;          /* Agrega espacio interior alrededor del contenido principal */
}

section {
  display: flex;                 /* Organiza elementos hijos en una fila o columna */
  flex-direction: column;        /* Por defecto, organiza los elementos en columna (uno debajo del otro) */
  align-items: justify;          /* Centra los elementos horizontalmente */
  justify-content: justify;      /* Centra los elementos verticalmente */
  text-align: center;           /* Centra el texto */
  margin-bottom: 60px;
}

.text-box {
  max-width: 600px;
  margin: 20px;
}

.image-box img {
  width: 450px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

h1 {
  margin-bottom: 10px;
  font-size: 30px;
}

p {
  font-size: 20px;
}

@media (min-width: 768px) {
  section {
    flex-direction: row;
    gap: 40px;
    text-align: left;
  }

  .image-box,
  .text-box {
    flex: 1;
  }
}