body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

main {
  padding: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: justify;
  justify-content: justify;
  text-align: center;
  margin-bottom: 60px;
}

.text-box {
  max-width: 600px;
  margin: 20px;
}

.image-box img {
  width: 450px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

h1 {
  margin-bottom: 10px;
  font-size: 30px;
}

p {
  font-size: 20px;
}

@media (min-width: 768px) {
  section {
    flex-direction: row;
    gap: 40px;
    text-align: left;
  }

  .image-box,
  .text-box {
    flex: 1;
  }
}