/* General styles */
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: linear-gradient(135deg, #606161, #80deea);
  color: #e0dddd;
}

.header-container {
  background: linear-gradient(to right, #00899b, #003631);
  color: white;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.header-column {
  flex: 1;
  /*min-width: 250px;*/
}

.profile-photo {
  width: 230px;
  border-radius: 50%;
  display: block;
  margin-left: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5rem);
}

.name-title h1 {
  margin: 0 0 1rem;
}

.name-title p {
  margin: 0;
  font-weight: 600;
}

.contact-info p {
  margin: 0 2rem;
}

nav {
  background-color: #ffffffcc;
  padding: 1rem 15rem;
  justify-content: justify;
}

.nav-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  /*width: 250%;*/
  /*max-width: 1000px; /* límite opcional para que no se estire demasiado */
}

.nav-buttons a {
  background-color: #009688;
  color: white;
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-align: center;
  /*min-width: 100px;*/
}

.nav-buttons a:hover {
  background-color: #014139;
}

.educacion-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 1rem;
  }

.educacion-grid article {
    background: linear-gradient(to right, #00899b, #003631);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

main {
  padding: 2rem 4rem;
  /*max-width: 1200px;*/
  margin: auto;
}

section {
  margin-bottom: 2rem;
  line-height: 1.5;
  padding-bottom: 1.5rem;
}

h2 {
  border-bottom: 2px solid #016d64;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

ul {
  padding-left: 2rem;
}

footer {
  background-color: #009688;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}

/* Responsive design */
@media (max-width: 768px) {
  header {
    text-align: center;
    padding: 1.5rem;
  }

  header img {
    margin-bottom: 1rem;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  main {
    padding: 1rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}
